<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@700&family=Lemonada:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Grandstander:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        text-align: center;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Posta</title>
  </head>
  <body>
    <%-include('_navBar.ejs')%>
    <form action="/id/<%= userId %>" method="POST" style="margin-top: 5%">
      <div class="formCont">
        <textarea
          name="message"
          id="message"
          style="height: 100px; width: 50%"
        ></textarea>
      </div>
      <div style="margin-top: 1%">
        <button class="btn btn-primary" type="submit">Send</button>
      </div>
      <div style="margin-top: 2%">
        <q style="font-size: 32px; font-family: 'Grandstander', cursive"
          >We just need to be kinder to ourselves. If we treated ourselves the
          way we treated our best friend, can you imagine how much better off we
          would be?</q
        >
        <p style="font-size: 32px; font-family: 'Lobster', cursive">
          - Meghan Markle
        </p>
      </div>
    </form>
  </body>
</html>
